*{
	font-family: 'Noto Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Vollkorn', serif;
}

.zlogo {
	background-image: url(z.png);
	background-size: 100%;
	width: 40px;
	height: 40px;
	display: block;
	margin-left: 100px;
	margin-right: auto;	
}

.navcolor {
	background-color: white;
}



body {
	background-image: url(blackvector.jpg);
	background-size: auto;
 

}

img {
	height: 292.67px;
  width: 220.08px;
	overflow: hidden;
 }


p {
	text-align: justify;
}

h5 {
  margin-top: 2px;
	text-align: center;
}

form {
  display: flex;
  align-items: center;
}

input[type="text"] {
  width: 17rem;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.search-button {
  width: 44px;
  height: 44px;
  background-image: url('magnify.svg');
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  border-radius: 10%;
}

.box {
	padding: 2px;
  font-size: small;
  font-weight: 450;
}

.container{
  width: 450px;
  background: #fff;
  padding: 20px;
  margin: 0 auto;
  box-sizing: 0 0 5px rgba(0,0,0,0.5); 
}

.container h5 {
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.container p{
  line-height: 1.4;
  text-align: justify;
}

#check{
  display: none;
}


.content{
  display: none;
}

label{
  display: inline-block;
  margin-top: 0px;
  color: black;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}

#check:checked ~ .content{
  display: block;
}


#check1{
  display: none;
}


.content1{
  display: none;
}


#check1:checked ~ .content1{
  display: block;
}


#check2{
  display: none;
}


.content2{
  display: none;
}


#check2:checked ~ .content2{
  display: block;
}

#check3{
  display: none;
}


.content3{
  display: none;
}


#check3:checked ~ .content3{
  display: block;
}

#check4{
  display: none;
}


.content4{
  display: none;
}


#check4:checked ~ .content4{
  display: block;
}

#check5{
  display: none;
}


.content5{
  display: none;
}


#check5:checked ~ .content5{
  display: block;
}